{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/jquery-jtemplates.js"></script>
    <script type="text/javascript" src="/static/js/runonload.js"></script>
    <script type="text/javascript" src="/static/js/knowledge_show.js"></script>

	<script type="text/javascript">
	// increase the default animation speed to exaggerate the effect
	$.fx.speeds._default = 1000;
	$(function() {
		$('#dialog').dialog({
			autoOpen: false,
			show: 'blind',
			hide: 'explode'
		});
		
		$('#opener').click(function() {
			$('#dinner').html('something');
			$('#dialog').dialog('open');
			return false;
		});
	});
	</script>


{% endblock %}

{% block content %}
{% load i18n %}

    <div>
    {% trans "Select skill category" %}
    <select id = "skill">
        <option value="0">
            Select Skill
        </option>
        {% for skill in skill_list %}
            <option value={{skill.id}}>
                {{ skill.name }}
            </option>
        {% endfor %}
    </select>
    </div>

    <div>
    {% trans "Select particular skill" %}
    <select id = "subskill">
        <option value="0">
            Select SubSkill
        </option>
        {% for subskill in subskill_list %}
            <option value={{subskill.id}}>
                {{ subskill.name }}
            </option>
        {% endfor %}
    </select>
    </div>

    <div id="prompt">{{ text }}</div>
    
    <div id="knowledges"></div>
{% endblock %}
