{% extends "base.html" %}

{% block scripts %}

    <script type="text/javascript" src="/static/js/runonload.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>     
    <script type="text/javascript">
        $(function() {
            $("#accordion").accordion();
        });
    </script>
    <script type="text/javascript"> 
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#knowledges').ajaxForm(function() { 
                alert("The data has been submitted"); 
            }); 
        }); 
    </script> 

{% endblock %}

{% block content %}

    <form id="knowledges" action="/skills/my_skills/" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
    <div class="demo">
    <div id="accordion">
        {% for form in formset.forms %}
            <h3><a href="#"> Text </a></h3>
            <div>
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
    </div>
    <input type="submit" value="Submit" />

{% endblock %}
